{% extends "CorreoBundle::menu.html.twig" %} 

{% block contenido %}
    <div class="container jumbotron text-center">
        <h2><span>GESTIÓN DE ENVÍOS DE CORREO ELECTRÓNICO</span></h2>
    </div>
    
{% endblock %}