{% extends "CorreoBundle::menu.html.twig" %} 
{% block titulo %} ENVIO MASIVO DE CORREOS: NUEVO CORREO 
<a href="{{path("queryCorreo")}}" class="btn btn-success">Volver</a>
{% endblock %}
    
{% block contenido %}
    <div class="container">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}
        
        {{form_start (form,{'action':'','method':'POST'})}}
        {{form_end (form)}}
    </div>
{% endblock %}