{% extends "CertBundle:Default:layout.html.twig" %} 
{% block titulo %} CERTIFICADOS **CARGA FICHERO DE CONTROL**
{% endblock %}

{% block contenido %}
    <script>
        $(document).ready(function () {
            $("#importar_Guardar").click(function () {
                $("#procesando").modal('show');
                var recurso = Routing.generate("importaCeco", true);
                window.location = recurso;
            });
        });
    </script> 

    <div class="container">
        {% for message in app.session.flashbag().get('status') %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endfor %}
        <h3>FORMATO DEL FICHERO </h3>
        <br/>
        <img src= "{{asset('img/formatoFichero.jpg')}}"></img>  

        {{form_start (form,{'action':'','method':'POST'})}}
        {{form_end (form)}}
        <br/>

    </div>
{% endblock %}