{% extends "CertBundle:Default:layout.html.twig" %} 
{% block contenido %}
    {%include "CertBundle:Default:funciones.html.twig" %}
    
    <div class="container jumbotron text-center">
         <img src= "{{asset('img/saludMadrid.png')}}"></img>
        <h3><span>Bienvenido a la web de Descarga del Certificado de Servicios Prestados en Atención 
                Primaria para el Reconocimiento de la Carrera Profesional del Personal de Formación Profesional del Área Sanitaria y 
                Personal de Gestión</span></h3>
        <a  class="btn btn-success btn-lg"  href="{{path("login")}}">Acceder </a>
    </div>
{% endblock %}
